= link_to image_tag('fmt-logo-small.png'),'http://followmytravel.com/'
%p
  %b Привет!
  = @user.email

%p Совсем скоро путешествовать станет еще проще и увлекательнее! Ты сможешь рассказать о лучших местах, в которых побывал сам, и узнать, что советуют твои друзья.

%p Наконец ты сможешь собирать информацию о любимых местах по всему миру в одном месте!

%p
  А пока мы позаботились, чтобы у тебя была собственная карта путешествий -
  = link_to user_path(@user), @user

%p Изучай, добавляй новые города и покажи всем, какой ты крутой путешественник!

%p
  На связи
  = link_to image_tag('pin.png'),'http://followmytravel.com/'
  Команда Follow My Travel.
