= link_to image_tag('fmt-logo-small.png'),'http://followmytravel.com/'
%p
 %b Привет!
 = @user.email

%br  Совсем скоро путешествовать станет еще проще и увлекательнее! Ты сможешь рассказать о лучших местах, в которых побывал сам, и узнать, что советуют твои друзья.
Наконец ты сможешь собирать информацию о любимых местах по всему миру в одном месте!
%p
%br А пока мы позаботились, чтобы у тебя была собственная карта путешествий -
%a
= link_to user_url(@user), @user
%br
%p Изучай, добавляй новые города и покажи всем, какой ты крутой путешественник!
На связи
%a
 = link_to image_tag('pin.png'),'http://followmytravel.com/'
%br Команда Follow My Travel.
