%head
%body{leftmargin: "0", marginheight: "0", marginwidth: "0", offset: "0", style: "margin: 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #F2F2F2;height: 100% !important;width: 100% !important;", topmargin: "0"}
  %center
    %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", height: "100%", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 0;background-color: #F2F2F2;height: 100% !important;width: 100% !important;", width: "100%"}
      %tr
        %td{align: "center", style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 20px;border-top: 0;height: 100% !important;width: 100% !important;", valign: "top"}
          / BEGIN TEMPLATE //
          %table{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;", width: "600"}
            %tr
              %td{align: "center", style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                / BEGIN PREHEADER //
                %table{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;", width: "600"}
                  %tr
                    %td{style: "padding-top: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                      %table{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                        %tbody
                          %tr
                            %td{style: "padding: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                              %table{align: "left", border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                                %tbody
                                  %tr
                                    %td{style: "padding-right: 9px;padding-left: 9px;padding-top: 0;padding-bottom: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                                      =link_to image_tag('email-top.jpg', :align => "left", :alt => "", style: "max-width: 851px;padding-bottom: 0;display: inline !important;vertical-align: bottom; border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;", width: "564"), 'followmytravel.com'
                / // END PREHEADER
            %tr
              %td{align: "center", style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                / BEGIN HEADER //
                %table{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;", width: "600"}
                  %tr
                    %td{style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                      %table{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                        %tbody
                          %tr
                            %td{style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                              %table{align: "left", border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "600"}
                                %tbody
                                  %tr
                                    %td{style: "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;", valign: "top"}
                                      %h2{style: "text-align: center;margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -.75px;color: #404040 !important;"} Привет!
                / // END HEADER
            %tr
              %td{align: "center", style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                / BEGIN BODY //
                %table{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;", width: "600"}
                  %tr
                    %td{style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                      %table{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                        %tbody
                          %tr
                            %td{style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                              %table{align: "left", border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "600"}
                                %tbody
                                  %tr
                                    %td{style: "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;", valign: "top"}
                                    %div{style: "text-align: center;margin: 1em 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;"}Совсем скоро путешествовать станет еще проще и увлекательнее! Ты сможешь рассказать о лучших местах, в которых побывал сам, и узнать, что советуют твои друзья. Наконец ты сможешь собирать информацию о любимых местах по всему миру в одном месте!
                                    %p{style: "text-align: center;margin: 1em 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;"}
                                      %span{style: "line-height:1.6em"}Изучай, добавляй новые города и покажи всем, какой ты крутой путешественник!
                                    %table{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                                      %tbody
                                        %tr
                                          %td{align: "center", style: "padding-top: 0;padding-right: 18px;padding-bottom: 18px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                                            %table{border: "0", cellpadding: "0", cellspacing: "0", style: "border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;background-color: #2F9EB2;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"}
                                              %tbody
                                                %tr
                                                  %td{align: "center", style: "font-family: Arial;font-size: 16px;padding: 15px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "middle"}
                                                    %a{href: "http://followmytravel.com/s/#{@user.short_id}", style: "font-weight: bold;letter-spacing: -0.5px;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", target: "_blank", title: "Моя карта путешествий"} Моя карта путешествий
                                    %div{style: "border-top:1px solid #ccc;min-height:0;width:100%;padding-top:10px;margin-top:10px"}
                                    %p{style: "text-align: center;margin: 1em 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;"}
                                      На связи!
                                      %br/
                                      %br/
                                      %strong Команда Follow My Travel
                                      %br/
                                      %br/
                / // END BODY
            %tr
              %td{align: "center", style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                / BEGIN FOOTER //
                %table{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;", width: "600"}
                  %tr
                    %td{style: "padding-bottom: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                      %table{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                        %tbody
                          %tr
                            %td{style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                              %table{align: "left", border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "600"}
                                %tbody
                                  %tr
                                    %td{style: "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 11px;line-height: 125%;text-align: left;", valign: "top"}
                                      %em ® 2014 Follow My Travel, All rights reserved.
                                      %br/
