= link_to image_tag('fmt-logo-small.png'),'http://followmytravel.com/'
%br
  %b Привет!
%br Совсем скоро путешествовать станет еще проще и увлекательнее!
Ты сможешь рассказать о лучших местах, в которых побывал сам, и узнать, что советуют твои друзья.
%br
Наконец ты сможешь собирать информацию о любимых местах по всему миру в одном месте!

%p
  А пока мы позаботились, чтобы у тебя была собственная карта путешествий -
  %a{href: "http://followmytravel.com/s/""#{@user.short_id}"} http://followmytravel.com/s/#{@user.short_id}
%p Изучай, добавляй новые города и покажи всем, какой ты крутой путешественник!

%br
  На связи!
%b Команда Follow My Travel.
