.container
  %h1.page-header Пользователи

  %table.table.table-striped
    %tr
      %th email
      %th created at
      %th countries
      %th cities
    - for user in User
      %tr
        %td= link_to user.email, user
        %td= user.created_at
        %td= user.countries.map(&:name).join(', ')
        %td= user.cities.map(&:name).join(', ')
