= simple_form_for User.new, remote: true do |f|
  .field
    = f.label :email, label: 'Твой email:'
    = f.text_field :email, placeholder: 'mail@example.com', class: 'text'
  .actions
    = f.submit 'Получить инвайт', class: 'btn'
