<div id="fb-root"></div>
<script>
  $(document).ready(function() {
    $.ajaxSetup({ cache: true });
    $.getScript('//connect.facebook.net/ru_RU/all.js', function(){
      FB.init({
        appId: '<%= Settings.facebook_id %>',
      });

      $('.facebook').click(function(){
        FB.ui({
          method: 'feed',
          link: '<%= request.original_url %>',
          description: 'У меня '+ gon.cities_count +'. А у тебя?',
          picture: '<%= "#{request.protocol}#{request.host_with_port}/" %>' + gon.map_image
        }, function(response){});
        false
      })
    });
  });

</script>
