<div id="fb-root"></div>
<script>
  $(document).ready(function() {
    var submit_fb = ''
    $.ajaxSetup({ cache: true });
    <% unless Rails.env == 'test' %>
      $.getScript('//connect.facebook.net/ru_RU/all.js', function(){
        FB.init({
          appId: '<%= Settings.facebook_id %>',
        });

        submit_fb = function() {
          FB.ui({
            method: 'feed',
            link: '<%= request.original_url %>',
            description: 'У меня '+ gon.cities_count +'. А у тебя?',
            picture: '<%= "#{request.protocol}#{request.host_with_port}/" %>' + gon.map_image
          }, function(response){});
        }
      });
    <% end %>
    $('.facebook').click(function(){
      $.get("/users/<%= user.id %>/shared_to?service=facebook", function(data) {
        <% unless Rails.env == 'test' %>
          submit_fb();
        <% end %>
      });
      false
    });
  });

</script>
