
<div id="fb-root"></div>
<div class="col-lg-10 col-lg-offset-1">
  <div class="row">
    <div class="col-lg-12 first_row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-content">
        <%= image_tag 'travelers/travelers_preview.png' %>
        <div class="overlay">
            <span class="overlay_desk">
              <span class="red lg-size">75</span>
              days of europe
            </span>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-content about">
        <p>
          Привет!
        </p>
        <p>
          7 апреля мы отправляемся в путешествие по Европе на 75 дней!
          Сейчас в нашем маршруте Лиссабон, Сантьяго-де-Компостела, Барселона, Марсель и Берлин.
        </p>
        <p>
          <span class="red bold">ТЫ</span> можешь сделать наше пребывание в этих городах интереснее! <span class="red">КАК?</span>
        </p>
        <p>
          Порекомендуй классные места: кафе и рестораны, площади и улицы, парки и скверы, музеи и галереи, клубы и бары - все, что тебе самому понравилось в этом городе!
        </p>
        <p>
          Знаешь классное место в 20 км от Лиссабона? Не забудь порекомендовать и его!
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 header">
          <span>
            Кто мы
          </span>
    </div>
    <div class="col-lg-12 second_row">
      <div class="col-lg-12 about">
        <span class="line">Этери и Наталья - основатели проекта <a href="http://beta.followmytravel.com" target="_blank">Follow My Travel</a>.</span>
        <span class="line">Знаем друг друга с 13 лет, вместе побывали в более, чем 20-ти странах мира,</span>
        <span class="line">мечтаем, чтобы путешествия стали образом жизни!</span>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
          <%= image_tag 'travelers/etery_avatar.jpg' %>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
          <ul class="soc_list">
            <li class="soc_item"><a href="http://beta.followmytravel.com/user/eteri" target="_blank">FOLLOW MY TRAVEL</a></li>
            <li class="soc_item"><a href="https://www.facebook.com/eteri.saneblidze" target="_blank">FACEBOOK</a></li>
            <li class="soc_item"><a href="https://instagram.com/eteri_s/" target="_blank">INSTAGRAM</a></li>
            <li class="soc_item"><a href="https://medium.com/@eteri" target="_blank">MEDIUM</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 last">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
          <%= image_tag 'travelers/natalt_avatar.jpg' %>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
          <ul class="soc_list">
            <li class="soc_item"><a href="http://beta.followmytravel.com/user/natalya" target="_blank">FOLLOW MY TRAVEL</a></li>
            <li class="soc_item"><a href="https://www.facebook.com/NatalyaIshchenko" target="_blank">FACEBOOK</a></li>
            <li class="soc_item"><a href="https://instagram.com/petite_tresor" target="_blank">INSTAGRAM</a></li>
            <li class="soc_item"><a href="https://medium.com/@natalyaishchenko" target="_blank">MEDIUM</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 header">
              <span>
                где мы сейчас
              </span>
    </div>
    <div class="col-lg-12 tree_row">
      <div class="col-lg-12 about">
        <div class="travels_list">
          <span class="line">07 апреля - 07 мая ЛИССАБОН</span>
          <span class="line active">08 мая - 10 мая ПОРТО</span>
          <span class="line">11 мая - 14 мая САНТЬЯГО-ДЕ-КОМПОСТЕЛА</span>
          <span class="line">14 мая - 31 мая БАРСЕЛОНА</span>
          <span class="line">01 июня - 07 июня МАРСЕЛЬ</span>
          <span class="line">08 июня - 20 июня БЕРЛИН</span>
        </div>
            <span class="line desk">
              *Это предварительный план и все может поменяться в зависимости от ваших рекомендаций и попутного ветра
            </span>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col-lg-12 header">
              <span>
                зачем
              </span>
    </div>
    <div class="col-lg-12 four_row">
      <div class="col-lg-12 about">
        <p>
          <span class="line">Имея немаленький опыт путешествий, мы знаем как важны рекомендации!</span>
          <span class="line">Как часто возвращаясь из поездки, друг, который недавно был в том же городе, рассказывает про какие-то классные места или делится лайфхаками, а ты понимаешь, что это все прошло мимо тебя!</span>
          <span class="line">Именно поэтому мы создали <a href="http://beta.followmytravel.com" target="_blank">Follow My Travel</a>:</span>
          <span class="line">- чтобы хранить классные места из разных городов</span>
          <span class="line">- чтобы легко делиться ими со своими друзьями</span>
          <span class="line">- чтобы находить крутые места друзей и интересных тебе людей</span>
        </p>
        <p>
          <span class="line">В трипе #75daysofeurope мы хотим показать всю силу ваших рекомендаций!</span>
          <span class="line">Следи за нашими передвижениями по Европе, а ниже в комментариях рекомендуй нам все самое лучшее и интересное, что тебе самому понравилось в этих городах!</span>
          <span class="line">Пиши, что нам попробовать, что посмотреть, куда спуститься, куда взобраться, кого встретить и что ни в коем случае нельзя пропустить!</span>
        </p>
      </div>
    </div>
  </div>

  <div class="row subscribe_row">
    <div class="col-lg-12 header">
      <span>Подписывайся!</span>
    </div>
    <div class="col-lg-12 col-content about">
      <p>
       <span class="line"> Все самое интересное мы будем размещать на наших аккаунтах в социальных сетях!</span>
       <span class="line"> Подписывайся на нашу страничку в Facebook, чтобы ничего не пропустить! </span>
      </p>
    </div>
    <div class="fb_subscribe">
        <div class="fb-page" data-href="https://www.facebook.com/followmytravel?fref=ts" data-height="330" data-hide-cover="true" data-show-facepile="true" data-show-posts="true"></div>
    </div>
  </div>

  <div class="row last">
    <div class="col-lg-12 header">
              <span>
                советуй!
              </span>
    </div>
    <div class="col-lg-12 tree_row">
      <div class="fb-comments" data-href="http://followmytravel.com/75daysofeurope" data-numposts="20" data-colorscheme="light" data-width="100%"></div>
    </div>
  </div>

</div>

