h1.page-header
  font-size: 28px
.table-scroll
  width: 100%
  margin-top: 20px
  overflow: scroll
  tr:nth-of-type(odd)
  th
    font-weight: bold
  td
    padding: 6px
    font: 14px / 1.4 Georgia, Serif
    text-align: left

