h1.page-header
  font-size: 28px
.table-scroll
  width: 100%
  margin-top: 20px
  overflow: scroll
  tr:nth-of-type(odd)
  th
    font-weight: bold
  td
    padding: 6px
    font: 14px / 1.4 Georgia, Serif
    text-align: left

.asc, .desc
  padding-right: 20px
.asc
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAgElEQVQ4T2NkoBAwUqifYRgacBsYJioEwgWkRg2mBj0MHIASO4CYHYchP4HibkB8CJcBIPFIIF4KxOiG/weKRQHxCmTDccVCPVBRA5oraoH8FnSX4YvGeUDFiVAN04F0FjZv4TMAFA4rgRjk9HAg/kWqAQQiAyI9DFMiUf5GVgQAMKYPEV3zJiYAAAAASUVORK5CYII=') no-repeat right bottom
.desc
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAdElEQVQ4T2NkoBAwUqifYZgbwAYMn5XQMIoA0j+xhReuMGCCag6BaloDpMOB+B+6IbgM6AEqLEZT3AvklxBjQC5Q0SQc0ZuPLofugkCgApBzQV7ABkBeAHlrPUwS3YB7QAlFAokLpEYZlwEkJ8xhnhKJCg8ASxAOEf0wik8AAAAASUVORK5CYII=') no-repeat right bottom

