%head
  = link_to image_tag('fmt-logo-big.jpg',  :alt => "Follow My Travel"), root_path, class: 'logo'
  .container
    %h1 404. Страница не найдена!
    %p
      Найди, что искал здесь
      =link_to 'followmytravel.com', root_path

.walle
