%head
  = link_to image_tag('fmt-logo-big.jpg',  :alt => "Follow My Travel"), root_path, class: 'logo'
  - if @status_code == 404
    .container
      %h1 404. Страница не найдена!
      %p
        Найди, что искал здесь
        =link_to 'followmytravel.com', root_path

    .walle
  - else
    .wrong
      = image_tag 'wrong.jpg'
    %h1 Что-то тут не так!
