$maincolor: #33ebc7

html, body
  height: 100%
  margin: 0px
  padding: 0px

body
  background: $maincolor
  color: white
  font-family: 'pf_handbook_extrathin', sans-serif
  font-weight: 400

a
  color: white

@font-face
  font-family: 'pf_handbook_extrathin'
  src: url('pfhandbookpro-extrathin-webfont.eot')
  src: url('pfhandbookpro-extrathin-webfont.eot?#iefix') format('embedded-opentype'), url('pfhandbookpro-extrathin-webfont.woff') format('woff'), url('pfhandbookpro-extrathin-webfont.ttf') format('truetype'), url('pfhandbookpro-extrathin-webfont.svg#pf_handbook_proextrathin') format('svg')
  font-weight: normal
  font-style: normal

h1, h2, h3
  font-weight: 400

.logo
  background: image-url('fmt-logo.png') no-repeat
  width: 364px
  height: 337px
  margin: 40px 0 40px 40px

.logo-small
  background: image-url('fmt-logo-small.png') no-repeat
  width: 439px
  height: 50px

h1
  font-size: 120px
h2
  font-size: 60px
h3
  font-size: 30px

.page_1
  background: image-url('bg1.jpg') no-repeat center
  overflow: hidden
  .container
    margin-left: 40px
    position: absolute
    bottom: 100px
  h1
    width: 720px
    font-size: 50px
    line-height: 50px

.page_2
  background: #309eb2 image-url('bg3.jpg') no-repeat center
  h1
    margin-top: 40px
  p
    margin-top: 60px
    span
      margin: 0 30px

.page_3
  background: #f06173 image-url('bg2.jpg') no-repeat center
  h2
    margin: 0 25%

.page_4
  h1
    margin-top: 40px
  h2
    margin: 0 40px
  h3
    margin-top: 40px
  p
    margin-top: 40px
  .btn-large
    padding: 10px 30px

.email_form
  display: none

h1
  margin-bottom: 40px

.center
  margin: 0 auto

.header
  padding: 25px

.btn
  border: 2px solid white
  background: transparent
  font-size: 38px
  padding: 2px 20px 6px
  text-decoration: none
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border-radius: 8px
  &.btn-small
    font-size: 28px
    padding: 2px 20px 6px
    text-decoration: none
    -webkit-border-radius: 8px
    -moz-border-radius: 8px
    border-radius: 8px
  &.btn-large
    font-size: 48px
    padding: 3px 30px 8px
    text-decoration: none
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
  &:hover
    background: white
    color: #444

.city_input_dialog
  position: absolute

.align-center
  text-align: center
.right
  float: right
.left
  float: left
.clear
  clear: both

.icon
  background: image-url('icon-map.png') no-repeat
  width: 116px
  height: 116px
  display: inline-block
  &.food
    background-position: 0 0
  &.stay
    background-position: -116px 0
  &.see
    background-position: -232px 0
  &.walk
    background-position: -348px 0
  &.talk
    background: image-url('icon-talk.png') no-repeat
    width: 157px
    height: 157px

.main
  .over_map
    width: auto
