html, body, #map-canvas
  height: 100%
  margin: 0px
  padding: 0px

body
  background: #5d9fef
  color: #fff
  font-family: 'Roboto', sans-serif
  font-weight: 400


.logo
  background: image-url('fmt_logo.jpg') no-repeat
  width: 796px
  height: 370px
  margin: 0 auto

.page_1
  background: image-url('bg1.jpg') no-repeat center
  h1
    font-size: 50px
    margin-top: 200px
    margin-left: 120px
    width: 550px

.city_input_dialog
  position: absolute
