// mobile

// all
@media screen and (min-device-width: 320px) and (max-device-width: 600px)
  .logo-small
    width: 96%
  .invite_me, .invite_final
    font-size: 6.5em !important
    display: block
    text-align: center
  .page_4
    .container
      padding-top: 16%
  .users
    #new_user
      width: auto
      text-align: center
      .field
        label
          width: 100%
          display: inline-block
          font-size: 5em
          margin: 0
        input
          font-size: 5em
          width: 90%
          margin: 0 0 1em 0
      .actions
        float: none
        input
          font-size: 6.5em !important
          display: block
          text-align: center
          width: 100%

  .dialog
    margin: 0
  #map_welcome
    padding-top: 0
    h2
      font-size: 6em

// landscape
@media screen and (min-device-width: 320px) and (max-device-width: 600px) and (min-aspect-ratio: 13/9)
  body
    font-size: 6px
  .page_1, .page_2, .page_3, .page_4
    background-size: 200%
  .page_4
    background-size: 220%
  .instagram_container .instagram_map
    width: 35em

// portrait
@media screen and (min-device-width: 320px) and (max-device-width: 600px) and (max-aspect-ratio: 13/9)
  body
    font-size: 5px
  .page_1, .page_2, .page_3, .page_4
    background-size: 300%
  .page_4
    background-size: 350%
    .container
      padding-top: 16%
    h1
      margin-bottom: 0.2em
    h2
      font-size: 5em
      line-height: 1em
      margin-bottom: 0.2em
  .users
    .over_map
      .header
        #city_name_auto.outside
          width: 13em

// tablet
@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: landscape)
  body
    font-size: 10px
  .page_1, .page_2, .page_3, .page_4
    background-size: 150%
@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (max-aspect-ratio: 13/9)
  body
    font-size: 9
  .page_1, .page_2, .page_3
    background-size: 220%
  .page_4
    background-size: 300%
    .container
      height: auto
  .users
    #new_user
      width: auto
      text-align: center
      .field
        label
          width: 100%
          display: inline-block
          font-size: 5em
          margin: 0
        input
          font-size: 4.5em
          width: 90%
          margin: 0 0 1em 0
      .actions
        float: none
        input
          font-size: 4.5em !important
          text-align: center
          width: 80%


html, body
  overflow: visible

.page_1, .page_2, .page_3, .page_4
  height: 95em
  position: relative

.page_2
  .container span
    margin: 0 1.1em

.page_4
  background: #f06173 image-url('bg-map.jpg') no-repeat center
  height: auto
  position: static
  .over_map
    position: relative

.users
  .over_map
    position: absolute

  .over_map .counters .counter
    .label
      font-size: 3em
    .number
      font-size: 8em

  .share_container
    width: auto
    a
      margin: 0 10px

  .instagram_container
    h3
      font-size: 4em

  .make_your_map
    font-size: 9em

  .text_container
    padding-top: 0
    h2
      font-size: 9em
      margin-bottom: 0.3em
    h3
      font-size: 4em
      margin-bottom: 0.3em


.container
  padding: 3em

#map_welcome
  h2
    margin-bottom: .5em
  h3
    font-size: 5em
  input#city_name_auto
    font-size: 4em
    width: 13em

.icon.down
  display: none
