.users
  .over_map
    .header
      padding: 10px 20px
      height: 80px
      .logo-small
        margin-top: 10px

      #city_name_auto
        width: 360px
        &.outside
          position: absolute
          top: 20px
          right: 200px

      .dialog
        #city_name_auto
          margin-top: 10px

    .counters
      float: right
      text-align: right
      width: 150px
      .counter
        margin-left: 20px
        float: right
        .label
        .number
          font-size: 60px
          line-height: 60px

  #new_user
    margin: 0 auto
    width: 860px
    .field
      float: left
      label
        margin-right: 10px
        font-size: 30px
      input
        margin-right: 10px
    .actions
      float: left
      input

  .share_container
    position: absolute
    bottom: 30px
    right: 20px
    z-index: 100
    .share_label
      text-align: right
      font-size: 29px
      height: 58px
      line-height: 58px
      float: left
      -webkit-transition:background-position 5s ease
    a
      background: image-url('share_icons.png') no-repeat
      display: block
      float: left
      width: 58px
      height: 58px
      margin-left: 10px
      text-indent: -99999px
      &.facebook
        background-position: 0 0
        &:hover
          background-position: 0 -58px
      &.twitter
        background-position: -58px 0
        &:hover
          background-position: -58px -58px
      &.vk
        background-position: -116px 0
        &:hover
          background-position: -116px -58px

.gm-style-iw
  color: #444
  width: auto !important
