.users
  .over_map
    .header
      padding: 1em 2em
      height: 8em
      .logo-small
        margin-top: 1em

      #city_name_auto
        width: 12em
        &.outside
          position: absolute
          top: 1em
          right: 7em

      .dialog
        #city_name_auto
          margin-top: 10px

    .counters
      float: right
      text-align: right
      width: auto
      .counter
        margin-left: 2em
        float: right
        .label
          font-size: 1.5em
        .number
          font-size: 6em

  #new_user
    margin: 0 auto
    width: 90em
    .field
      float: left
      label
        margin-right: 1em
        font-size: 3em
      input
        margin-right: 1em
    .actions
      float: left
      input

  .share_container, .instagram_container
    h2
      font-size: 6em
      margin-bottom: .4em
    p
      font-size: 2.4em
      margin-bottom: 1em
    .share_label
      text-align: right
      font-size: 29px
      height: 58px
      line-height: 58px
      float: left
      -webkit-transition:background-position 5s ease
    a
      background: image-url('share_icons.png') no-repeat
      display: inline-block
      width: 58px
      height: 58px
      margin: 0 20px
      text-indent: -99999px
      &.facebook
        background-position: 0 0
        &:hover
          background-position: 0 -58px
      &.twitter
        background-position: -58px 0
        &:hover
          background-position: -58px -58px
      &.vk
        background-position: -116px 0
        &:hover
          background-position: -116px -58px
      &.instagram
        background-position: -174px 0
        &:hover
          background-position: -174px -58px

.instagram_container
  padding-top: 5em
  .instagram_map
    padding: 2px
    background: #fff
    margin: 0 auto
    width: 50em
    img
      width: 100%

.overlay
  background-image: image-url('alpha-40.png')
  position: absolute
  z-index: 11
  top: 0
  bottom: 0
  left: 0
  right: 0

.gm-style-iw
  color: #444
  width: auto !important

.labels
  color: #fff
  font-family: "Lucida Grande", "Arial", sans-serif
  font-size: 1em
  text-align: center
  width: auto
  white-space: nowrap
  opacity: 0.8

